<%- include('../../partials/header') %>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= totalEmployees[0].totalEmployees %></h3>

                <p>Total Employees</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/employees" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><%= totalCustomers[0].totalCustomers %></h3>
                <p>Total Customers</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/customers" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= totalAttendance[0].totalAttendance %></h3>

                <p>Total Attendance</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/attendance" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><%= totalVisitors[0].totalVisitors %></h3>
                <p>Total Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/visitors" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
    
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <section class="col-lg-12 connectedSortable ui-sortable">
      <div class="card">
        <div class="card-header ui-sortable-handle" style="cursor: move;">
          <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
            Todays Followups
          </h3>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-four-tabContent">
            <div class="tab-pane fade" id="custom-tabs-four-home" role="tabpanel"
              aria-labelledby="custom-tabs-four-home-tab">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th> Sr.</th>
                    <th>Name Of Visitors</th>
                    <th>Mobile Number</th>
                    <th>Visiting Date</th>
                    <th>Last Calling Date</th>
                    <th>Last Calling Feedback</th>
                    <th>Next Call Scheduled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% for(var i=0; i < data.length; i++ ) { %>
                      <td>
                        <%= i+1 %>
                      </td>
                      <td>
                        <%= data[i].name%>
                      </td>
                      <td>
                        <%=data[i].mobile_number%>
                      </td>
                      <td>
                        <%= data[i].date_of_visit %>
                      </td>
                      <td>
                        <%= data[i].last_calling_date %>
                      </td>
                      <td>
                        <%= data[i].feedback_of_client %>
                      </td>
                      <td>
                        <%= data[i].next_call_schedule%>
                      </td>
                      <td>
                        <a href="/followup/add" class="btn btn-primary btn sm">followup</a>
                      </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade active show" id="custom-tabs-four-profile" role="tabpanel"
              aria-labelledby="custom-tabs-four-profile-tab">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th> Sr.</th>
                    <th>Visitors</th>
                    <th>Mobile Number</th>
                    <th>Visiting Date</th>
                    <th>Last Calling Date</th>
                    <th>Last Calling Feedback</th>
                    <th>Next Call Scheduled</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% for(var i=0; i < data.length; i++ ) { %>
                      <td>
                        <%= i+1 %>
                      </td>
                      <td>
                        <%= data[i].name%>
                      </td>
                      <td>
                        <%=data[i].mobile_number%>
                      </td>
                      <td>
                        <%= data[i].date_of_visit %>
                      </td>
                      <td>
                        <%= data[i].last_calling_date %>
                      </td>
                      <td>
                        <%= data[i].feedback_of_client %>
                      </td>
                      <td>
                        <%= data[i].next_call_schedule%>
                      </td>
                      <td>
                        <a href="/followup/add" class="btn btn-primary btn sm">followup</a>
                      </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../partials/footer') %>