
<%- include('../../partials/header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Customers</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Customers</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              
       
        
              <div class="card-header">
                <h1 class="card-title">Customers Data</h1>
                <a href="/customers/add" class="btn btn-info float-right">Add</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example_tab" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Sr.</th>
                    <th>Name</th>
                    <th>Father name</th>
                    <th>Mobile Number</th>
                    <th>Type of Subscriptions</th>
                    <th>Address</th>
                   
                    
                  </tr>
                  </thead>
                  <tbody>
                    <% if(data.length> 0){ 
                      for(var i=0; i < data.length ; i++ ) { %>
                        <tr>
                          <td><%=i+1%></td>
                          <td>
                            <%= data[i].user_name %>
                          </td>
                          <td>
                            <%= data[i].fathers_name %>
                          </td>
                          <td>
                            <%= data[i].mobile %>
                          </td>
                          <td>
                            <%= data[i].name %>
                          </td>
                          <td>
                            <%= data[i].address %>
                          </td>
                          <td>
                            <a href="/customers/edit/<%=data[i].id%>" class="btn btn-primary btn sm">Edit</a> 
                            <a href="/customers/delete/<%=data[i].id%>" class="btn btn-primary btn sm">Delete</a>
                          </td>
                        </tr>
                      <% } 
                    }else{ %>
                        <tr>
                          <td colspan="6" class="text-center">No data found</td>
                        </tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                  
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script>
//     $(document).ready(function() {
//     $('#example1').DataTable( {
//         dom: 'Bfrtip',
//         buttons: [
//             'copy', 'csv', 'excel', 'pdf', 'print'
//         ]                   
//     } ); 
// } );
  </script>
  <!-- /.content-wrapper -->
<%- include('../../partials/footer') %>
